
body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0;
    background-color: white; 
}

#botonContador {
  
    background-color: #48C9B0; 
    border: 4px solid #16A085; 
    border-radius: 16px;       
    
  
    color: #FFFFFF;            
    font-size: 130px;         
    font-family: "Times New Roman", serif; 
    
    
    width: 220px;
    height: 300px;
    
    
    cursor: pointer;           
    outline: none;            
    transition: transform 0.1s; 
}

#botonContador:active {
    transform: scale(0.98);
    background-color: #3bbda5;
}